@page
@model App.EndPoint.RazorPages.Pages.Access.CreateModel
@{
    ViewBag.Title = "تعریف دسترسی جدید";
}

<div align="center" class="portlet-body">
    <div class="col-lg-6">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">
                        @ViewBag.Title
                    </h3>
                </div><!-- /.portlet-title -->
                <div class="buttons-box">
                    <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" href="#">
                        <i class="icon-size-fullscreen"></i>
                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                    </a>
                </div><!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="portlet-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>شناسه کاربری</th>
                        <th>نام کامل</th>
                        <th>وضعیت</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>@Model.User.Id</td>
                        <td>@Model.User.FullName</td>
                        @{
                            if (@Model.User.Active == 1)
                            {
                                <td>
                                        <label class="btn btn-lg btn-success curve" data-toggle="tooltip" data-placement="top" title="کاربر فعال می باشد"><i class="fa fa-toggle-on"></i> </label>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <label class="btn btn-lg btn-danger curve" data-toggle="tooltip" data-placement="top" title="کاربر غیر فعال می باشد"><i class="fa fa-toggle-off"></i> </label>
                                </td>
                            }
                        }
                    </tr>
                    </tbody>
                </table>

                <form method="post" asp-page-handler="Enrollment">
                    <input type="hidden" name="userId" value="@Model.User.Id" />
                    <div class="row col col-lg-12">
                        <div class="portlet-body">
                            <div align="right" class="form-group">
                                <label>انتخاب دستگاه</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-printer"></i>
                                    </span>
                                    <select name="deviceId" class="form-control" asp-for="DeviceId" asp-items="Model.DeviceList"></select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row col col-lg-12">
                        <div class="portlet-body">
                            <div align="right" class="form-group">
                                <label>انتخاب نوع</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-universal-access"></i>
                                    </span>
                                    <select name="EnrollmentType" class="form-control" name="AccessType ">
                                        <option value="card">کارت</option>
                                        <option value="fp">اثرانگشت</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row col col-lg-12">
                        <div class="portlet-body">
                            <div align="right" class="form-group">
                                <label>تعداد</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-universal-access"></i>
                                    </span>
                                    <select name="Count" class="form-control" name="AccessType ">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row col col-lg-12">
                        <div style="float: left;">
                            <button type="submit" class="btn btn-info curve">
                                ارسال فرمان به دستگاه
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background" style="opacity: 0.00616;"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->
    </div>
</div><!-- /.portlet-body -->

@section masterjs
{
    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

}