@page
@model App.EndPoint.RazorPages.Pages.Access.IndexModel
@{
    ViewBag.Title = "مدیریت دسترسی ها";
}

<div class="portlet-body">
    <div class="col-lg-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">
                        @ViewBag.Title
                    </h3>
                </div><!-- /.portlet-title -->
                <div class="buttons-box">
                    <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" href="#">
                        <i class="icon-size-fullscreen"></i>
                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                    </a>
                    <a class="btn btn-sm btn-default btn-round btn-close" rel="tooltip" href="#">
                        <i class="icon-trash"></i>
                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                    </a>
                </div><!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="portlet-body">
                <br />
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>شناسه کاربری</th>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>اثر انگشت</th>
                            <th>چهره</th>
                            <th>وضعیت</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>@Model.User.Id</td>
                            <td>@Model.User.Name</td>
                            <td>@Model.User.FullName</td>
                            <td>@Model.User.enrolled_fingers</td>
                            <td>@Model.User.enrolled_faces</td>
                            @{
                                if (@Model.User.Active == 1)
                                {
                                    <td>
                                        <label class="btn btn-lg btn-success curve" data-toggle="tooltip" data-placement="top" title="کاربر فعال می باشد"><i class="fa fa-toggle-on"></i> </label>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <label class="btn btn-lg btn-danger curve" data-toggle="tooltip" data-placement="top" title="کاربر غیرفعال می باشد"><i class="fa fa-toggle-off"></i> </label>
                                    </td>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
                <hr />


                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>شناسه </th>
                            <th>نام</th>
                            <th>نوع </th>
                            <th>IP Address</th>
                            <th>Mac Address</th>
                            <th>وضعیت</th>
                            <th>دسترسی کاربر</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UserDevices)
                        {
                            <tr>
                                <td>@item.DeviceId</td>
                                <td>@item.Name</td>
                                <td>@item.DeviceType</td>
                                <td>@item.Ip</td>
                                <td>@item.Mac</td>
                                @{
                                    if (@item.Status == "connected")
                                    {
                                        <td>
                                            <label class="label label-success curve">روشن</label>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <label class="label label-danger curve">خاموش</label>
                                        </td>
                                    }
                                    if (@item.UserAccess == true)
                                    {
                                        <td>
                                            <form method="post" asp-page-handler="Revoke">
                                                <input type="hidden" name="deviceId" value="@item.DeviceId">
                                                <input type="hidden" name="userId" value="@Model.User.Id">
                                                <button id="btn-success" type="submit" class="btn btn-lg btn-success curve" data-toggle="tooltip" data-placement="top" title="دارای دسترسی"><i class="fa fa-toggle-on"></i></button>
                                            </form>
                                        </td>
                                    }

                                    if (@item.UserAccess == false)
                                    {
                                        <td>
                                            <form method="post" asp-page-handler="Assign">
                                                <input type="hidden" name="deviceId" value="@item.DeviceId">
                                                <input type="hidden" name="userId" value="@Model.User.Id">
                                                <button id="btn-success" type="submit" class="btn btn-lg btn-danger curve" data-toggle="tooltip" data-placement="top" title="بدون دسترسی"><i class="fa fa-toggle-off"></i></button>
                                            </form>
                                        </td>
                                    }

                                }

                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->
    </div>
</div><!-- /.portlet-body -->





    @section masterjs
    {
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

    @{
        if (Model.ShowMessage == true)
        {
            <script defer>
                {
                    swal(
                        'تغییر دسترسی با موفقیت انجام شد',
                        '',
                        'success');
                };
            </script>
        }
    }
    }





